@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.snow {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  left: 0;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.75);
  position: fixed;
  top: -10%;
  z-index: 9999;
  user-select: none;
  cursor: default;
  animation-name: snow-fall, snow-shake;
  animation-duration: 10s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}

@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }

  .snow {
    width: 5px;
    height: 5px;
  }
}

@keyframes snow-fall {
  0% {
    top: -10%;
    opacity: 0.1;
    transform: translateX(0px);
  }
  40% {
    opacity: 0.9;
    transform: translateX(50px);
  }
  70% {
    opacity: 0.9;
  }
  100% {
    top: 100%;
    opacity: 0.1;
    transform: translateX(0px);
  }
}

@keyframes snow-shake {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}

.snow:nth-of-type(18) {
  left: 5%;
  animation-delay: 2.5s, 7s;
}
.snow:nth-of-type(1) {
  left: 10%;
  animation-delay: 1s, 1s;
}
.snow:nth-of-type(2) {
  left: 15%;
  animation-delay: 6s, 0.5s;
}
.snow:nth-of-type(3) {
  left: 20%;
  animation-delay: 4s, 2s;
}
.snow:nth-of-type(4) {
  left: 25%;
  animation-delay: 2s, 5s;
}
.snow:nth-of-type(5) {
  left: 30%;
  animation-delay: 8s, 3s;
}
.snow:nth-of-type(6) {
  left: 35%;
  animation-delay: 6s, 2s;
}
.snow:nth-of-type(13) {
  left: 40%;
  animation-delay: 4s, 4s;
}
.snow:nth-of-type(7) {
  left: 45%;
  animation-delay: 2.5s, 1s;
}
.snow:nth-of-type(8) {
  left: 50%;
  animation-delay: 7s, 0s;
}
.snow:nth-of-type(9) {
  left: 55%;
  animation-delay: 3s, 1.5s;
}
.snow:nth-of-type(10) {
  left: 60%;
  animation-delay: 5s, 4s;
}
.snow:nth-of-type(11) {
  left: 65%;
  animation-delay: 4s, 3s;
}
.snow:nth-of-type(12) {
  left: 70%;
  animation-delay: 8s, 6s;
}
.snow:nth-of-type(13) {
  left: 75%;
  animation-delay: 2.5s, 4s;
}
.snow:nth-of-type(14) {
  left: 80%;
  animation-delay: 6s, 3s;
}
.snow:nth-of-type(15) {
  left: 85%;
  animation-delay: 3s, 2s;
}
.snow:nth-of-type(16) {
  left: 90%;
  animation-delay: 1s, 5s;
}
.snow:nth-of-type(17) {
  left: 95%;
  animation-delay: 3s, 3s;
}
